body{
background-color:#FEE3EC;
margin:0px;
text-align:center; 
 font-family: "Sofia", sans-serif;
font-size:35px;


}
a{
color:#3A5BA0;
margin:5px 10px;
padding:10px;
}
a:hover{
color:#FFDAAF;
}
p{
color:#748DA6;
}
hr{
border:dotted #97C4B8 6px ;
border-bottom:none;
width:10%;
margin:50px auto;
}
h2{
text-align:center;
color:#F637EC
}
h3{
text-align:center;
color:#F637EC
}

.para{
color:red;
text-align:center;
}
.para1{
color:red;
text-align:center;
font-size:30px;

}




.top-container{
background-color:#B8FFF9;

}
.middle-container{
background-color:none;
font-family:none;
font-size:15px;
line-height:2;
text-align:left;

}
.bottom-container{
background-color::none;
font-family:none;
font-size:15px;
line-height:2;
text-align:left;

}
.last_container{
background-color:#47B5FF;
font-family:none;
font-size:15px;
}

.copyright{
color:#EAF6F6;
padding:10px;
}
